@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Roboto", sans-serif;
    font-weight: 800;

}
.container{
    display: flex;
    flex-direction: row;
}
.sidebar{
    width: 340px;
    display: flex;
    flex-direction: column;
    padding: 0 30px 0 30px;
    
}
.main{
    width: 503px;
    padding-left: 29px;
    border-left: 1px solid #e5e7eb;
}

.title-sidebar{
    margin-top: 28px;
    margin-left: 0px;
    font-size: 27px;
}

.select-loc{
    font-weight: 400;
    display: flex;
    flex-direction: column;
    margin-top: 50;
    
}

.select-dur{
    font-weight: 400;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    
}

#duration{
    width: 340px;
    height: 51px;
    border-radius: 4px;
}

#location{
    width: 340px;
    height: 51px;
    border-radius: 4px;
}


.title-main{
    margin-top: 36px;
    font-size: 21.5px;
}

.calendar-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#monthYear{
    margin-left: 8px;
    margin-top: 2.5px;
    font-size: 17px;
    font-weight: 500;
}

.calendar-buttons{
    display: flex;
    flex-direction: row;
    margin-right: 95px;
    gap: 10px;
    color: rgba(0, 0, 0, 0.54);
}

.month-nav{
    all: unset;
    cursor: pointer;
}

.week{
    width: 410px;
  margin-left: 20.25px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

#calendar {
    width: 410px;
    margin-left: 20.25px;
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 colunas para os dias da semana */
    row-gap: 20px;
}
  
.day,
.noDay{
    margin-left: 5.5px;
    margin-right: 5.5px;
    max-height: 47px;
    max-width: 47px;
    min-height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 400;
    color: #7d7d7d;
}

.day {
    /*height: 20px; /* aumenta a altura total da célula */
    height: 100%;
    justify-content: flex-start; /* alinha o número no topo */
    border-radius: 100%;
}

.dayDot {
    display: block;
    width: 5px;
    height: 5px;
    min-height: 5px;
    background-color: #D7E164;
    border-radius: 50%;
}

.booked{
    background-color: #f4f6d3;
    color: #d7e164;
    
}

.clicked{
    color: white;
    background-color: #d7e164;
}


#session-info{
    margin-top: 70px;
    
}

.session-title{
    font-size: 17.5px;
    font-weight: 400;
}

.meeting-hour{
    display: flex;
    border-style: solid;
    border-color: #d7e163;
    border-radius: 6px;
    color: #d7e163;
    min-width: 268px;
    min-height: 60px;
    font-size: 18px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
}
